

<div class="container">
  <div class="cardas"></div>
  <div class="cardas"></div>
  <div class="cardas"></div>
  <div class="cardas"></div>
  <div class="cardas"></div>
  <div class="cardas"></div>
</div>
